<head>
    <style>
        body {
            height: 100vh;
            display: flex;
            flex-direction: column;
            overflow: hidden;
        }

        .header {
            display: flex;
            justify-content: space-between;
            padding: 10px;
        }

        .header .title {
            font-weight: bold;
            font-size: 1.5rem;
            margin-left: 1rem;
        }

        .header .nav {
            display: flex;
            gap: 1rem;
        }

        .header .nav div {
            font-weight: 600;
            font-size: 1.125rem;
        }

        .main {
            height: 100%;
            flex-grow: 1;
            position: relative;
        }

        .main .bg {
            position: absolute;
            background-color: white;
            width: 66.666667%;
            height: 50%;
            border-bottom-right-radius: 8rem;
        }

        .main .content {
            margin-left: 4rem;
            margin-top: 1rem;
        }

        .main .content .title {
            font-size: 5.5rem;
            font-weight: bold;
            letter-spacing: .05em;
        }

        .main .content .subtitle {
            font-size: 2rem;
            font-weight: bold;
            margin-top: 2.5rem;
        }

        .main .content .button {
            margin-top: 3.5rem;
        }

        .main .content .button button {
            border: 2px solid #1d4ed8;
            font-size: 1.25rem;
            font-weight: bold;
            padding: .75rem 2.5rem;
        }

        .main .image {
            height: 100%;
            width: 100%;
            margin: 1rem;
            margin-left: 3.5rem;
        }

        .main .image img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-bottom-left-radius: .5rem;
        }
    </style>
    <link rel="stylesheet" href="../static/styles/home.css">
    <script src="../static/javascript/home.js" defer></script>
</head>

<body>
    <div class="header">
        <div class="title"><a style="text-decoration: none; color: black;" href="/">FITAI</a></div>
        <div class="nav">
            <div>Home</div>
            <div>About</div>
            <div>Contact</div>
        </div>
    </div>

    <div class="main">
        <div class="bg">
            <div class="content">
                <form data-multi-step class="multi-step-form" action="/predict" method="post">
                    <div class="card active" data-step="1">
                        <h1 class="step-title">Personal Information</h1>
                        <div style="display: flex;">
                            <!-- Gender -->
                            <div class="form-group">
                                <label for="gender">Gender</label>
                                <select name="Gender" id="gender">
                                    <option value="male">Male</option>
                                    <option value="female">Female</option>
                                </select>
                            </div>
                            <!-- Age -->
                            <div class="form-group">
                                <label for="age">Age</label>
                                <input type="number" id="age" name="Age" min="12" required>
                            </div>

                        </div>
                        <div style="display: flex;">
                            <!-- Weight -->
                            <div class="form-group">
                                <label for="weight">Weight(kg)</label>
                                <input type="number" id="Weight" name="Weight" min="0" required>
                            </div>
                            <!-- Height -->
                            <div class="form-group">
                                <label for="height">Height(cm)</label>
                                <input type="number" id="Height" name="Height" min="0" required>
                            </div>
                        </div>

                        <div style="display: flex;">
                            <!-- Fitness Level -->
                            <div class="form-group">
                                <label for="fitness-level">Fitness Level</label>
                                <select name="FitnessLevel" id="FitnessLevel">
                                    <option value="Beginner">Beginner</option>
                                    <option value="Intermediate">Intermediate</option>
                                    <option value="Advanced">Advanced</option>
                                </select>
                            </div>
                            <!-- Exercise History -->
                            <div class="form-group">
                                <label for="exercise-history">Exercise History</label>
                                <select name="ExerciseHistory" id="ExerciseHistory">
                                    <option value="none">None</option>
                                    <option value="regular">Regular</option>
                                    <option value="occasional">Occasional</option>
                                </select>
                            </div>
                        </div>



                        <!-- Fitness Goals -->
                        <div class="form-group">
                            <label for="fitness-goals">Fitness Goals</label>
                            <select name="FitnessGoals" id="FitnessGoals">
                                <option value="weight_loss">Weight Loss</option>
                                <option value="muscle_gain">Muscle Gain</option>
                                <option value="endurance">Endurance</option>
                                <option value="flexibility">Flexibility</option>
                            </select>
                        </div>
                        <button type="button" data-next>Next</button>
                    </div>

                    <div class="card" data-step="2">
                        <h1 class="step-title">Medical Information</h1>
                        <div style="display: flex;">
                            <!-- Medical Conditions -->
                            <div class="form-group">
                                <label for="medical-conditions">Medical Conditions</label>
                                <select name="MedicalConditions" id="MedicalConditions">
                                    <option value="none">None</option>
                                    <option value="hypertension">Hypertension</option>
                                    <option value="diabetes">Diabetes</option>
                                    <option value="asthma">Asthma</option>
                                    <option value="heart_disease">Heart Disease</option>
                                </select>
                            </div>
                            <!-- Injuries -->
                            <div class="form-group">
                                <label for="injuries">Injuries</label>
                                <select name="Injuries" id="Injuries">
                                    <option value="none">None</option>
                                    <option value="knee_pain">Knee Pain</option>
                                    <option value="back_pain">Back Pain</option>
                                    <option value="shoulder_pain">Shoulder Pain</option>
                                    <option value="ankle_sprain">Ankle Sprain</option>
                                </select>
                            </div>
                        </div>
                        <div style="display: flex;">
                            <!-- Exercise Frequency -->
                            <div class="form-group">
                                <label for="exercise-frequency">How many Days per week do you exercise?</label>
                                <input type="text" id="ExerciseFrequency" name="ExerciseFrequency" required>
                            </div>
                            <!-- Exercise Duration -->
                            <div class="form-group">
                                <label for="exercise-duration">Average Daily Exercise Duration(min)</label>
                                <input type="text" id="ExerciseDuration" name="ExerciseDuration" required>
                            </div>
                        </div>
                        <div style="display: flex;">
                            <!-- Stress Level -->
                            <div class="form-group">
                                <label for="stress-level">Stress Level</label>
                                <select name="StressLevel" id="StressLevel">
                                    <option value="low">Low</option>
                                    <option value="moderate">Moderate</option>
                                    <option value="high">High</option>
                                </select>
                            </div>

                            <!-- Activity Level -->
                            <div class="form-group">
                                <label for="activity-level">Activity Level</label>
                                <select name="ActivityLevel" id="ActivityLevel">
                                    <option value="sedentary">Sedentary</option>
                                    <option value="lightly_active">Lightly Active</option>
                                    <option value="active">Active</option>
                                </select>
                            </div>
                        </div>
                        <!-- Sleep Patterns -->
                        <div class="form-group">
                            <label for="sleep-patterns">How many hours do you sleep?</label>
                            <input type="text" id="SleepPatterns" name="SleepPatterns" required>
                        </div>

                        <div style="display: flex; gap: 10px;">
                            <button data-previous>Previous</button>
                            <button type="button" data-next>Next</button>
                        </div>
                    </div>

                    <div class="card" data-step="3">
                        <h1 class="step-title">Preference</h1>

                        <div style="display: flex;">
                            <!-- Motivation Level -->
                            <div class="form-group">
                                <label for="motivation-level">Motivation Level</label>
                                <select name="MotivationLevel" id="MotivationLevel">
                                    <option value="low">Low</option>
                                    <option value="moderate">Moderate</option>
                                    <option value="high">High</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="sleep-patterns">PreferredTimeOfDay</label>
                                <select name="PreferredTimeOfDay" id="PreferredTimeOfDay">
                                    <option value="morning">Morning</option>
                                    <option value="afternoon">Afternoon</option>
                                    <option value="evening">Evening</option>
                                </select>
                            </div>
                            <!-- Dietary Preferences -->
                            <div class="form-group">
                                <label for="dietary-preferences">Dietary Preferences</label>
                                <select name="DietaryPreferences" id="DietaryPreferences">
                                    <option value="none">None</option>
                                    <option value="vegetarian">Vegetarian</option>
                                    <option value="vegan">Vegan</option>
                                    <option value="keto">Keto</option>
                                    <option value="paleo">Paleo</option>
                                </select>
                            </div>
                        </div>

                        <div style="display: flex;">
                            <!-- Preferred Environment -->
                            <div class="form-group">
                                <label for="preferred-environment">Preferred Environment</label>
                                <select name="PreferredEnvironment" id="PreferredEnvironment">
                                    <option value="gym">Gym</option>
                                    <option value="home">Home</option>
                                    <option value="outdoors">Outdoors</option>
                                </select>
                            </div>
                            <!-- Weather Conditions -->
                            <div class="form-group">
                                <label for="weather-conditions">Weather Conditions</label>
                                <select name="WeatherConditions" id="WeatherConditions">
                                    <option value="sunny">Sunny</option>
                                    <option value="rainy">Rainy</option>
                                    <option value="snowy">Snowy</option>
                                    <option value="windy">Windy</option>
                                </select>
                            </div>
                            <!-- Gym Membership -->
                            <div class="form-group">
                                <label for="gym-membership">Gym Membership</label>
                                <select name="GymMembership" id="GymMembership">
                                    <option value="yes">Yes</option>
                                    <option value="no">No</option>
                                </select>
                            </div>
                        </div>

                        <div style="display: flex;">
                            <!-- Support System -->
                            <div class="form-group">
                                <label for="support-system">Support System</label>
                                <select name="SupportSystem" id="SupportSystem">
                                    <option value="yes">Yes</option>
                                    <option value="no">No</option>
                                </select>
                            </div>
                            <!-- Group Classes Preference -->
                            <div class="form-group">
                                <label for="group-classes-preference">Group Classes Preference</label>
                                <select name="GroupClassesPreference" id="GroupClassesPreference">
                                    <option value="yes">Yes</option>
                                    <option value="no">No</option>
                                </select>
                            </div>
                        </div>

                        <div style="display: flex; gap: 10px;">
                            <button type="button" data-previous>Previous</button>
                            <button type="submit">Generate</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="image">
            <img src="../static/img/gw.jpg" alt="Workout img 1">
        </div>
    </div>
</body>