<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FITAI</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        lightBlue: "#1355ff",
                        darkBlue: "#0047ff",
                        back: "#dde7fe"
                    },
                    borderRadius: {
                        'custom': '8rem',
                    }
                },
            },
        };
    </script>
</head>

<body class="h-screen flex flex-col overflow-hidden">
    <div class="flex justify-between px-10 py-5">
        <div class="font-bold text-xl ml-6"><a href="/">FITAI</a></div>
        <div class="flex gap-5">
            <div class="font-semibold text-lg">Home</div>
            <div class="font-semibold text-lg">About</div>
            <div class="font-semibold text-lg">Contact</div>
        </div>
    </div>

    <div class="h-full flex-grow">
        <div class="absolute bg-white w-4/6 h-3/6 rounded-br-custom">
            <div class="ml-16 mt-5">
                <div class="text-7xl font-bold tracking-wide font-sans">Get Fit with </div>
                <div class="text-7xl font-bold tracking-wide font-sans">FITAI</div>
                <div class="text-2xl font-bold font-sans mt-10">
                    Achieve Your Fitness Goals
                </div>
                <div class="mt-14">
                    <button class="border-2 border-slate-950 text-xl font-bold py-3 px-10" type="button"><a href="home">Get Started</a></button>
                </div>
            </div>
        </div>
        <div class="h-full w-full object-cover rounded-bl-lg m-5 ml-14">
            <img class="w-full h-full object-cover" src="../static/img/gw.jpg" alt="Workout img 1">
        </div>

    </div>


</body>

</html>