/* body {
  font-family: "Teko";
  src: url("teko-regular.woff2") format("woff2"),
    url("teko-regular.woff") format("woff");
} */

body{
  height: 100vh;
  background-color: black;
}

h1 {
  text-align: center;
  color: white;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.input-group select {
  background-color: #0abab5;
  margin-top: 5px;
  width: 50px;
}

.input-group label {
  color: white;
}

.dropdown {
  margin-bottom: 15px;
}

.dropdown label {
  display: block;
  margin-bottom: 5px;
  color: white;
}

.dropdown select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.input-group input,
.input-group select {
  flex: 1;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #0abab5;
  color: black;
  padding: 10px 60px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 50px;
  /* margin-left: 120px; */
}

button:hover {
  background-color: #0067cc;
}

.card {
  display: none;
  /* transform: translateX(200%); */
  /* opacity: 0; */
  /* transition: 500ms ease-in-out; */
  /* position: absolute; */
}

.card.active {
  /* position: static; */
  display: block;
  /* transform: translateX(0); */
  /* opacity: 1; */
}

/* .multi-step-form {
  overflow: hidden;
  position: relative;
  height: 300px;
} */