/* body {
  font-family: "Teko";
  src: url("teko-regular.woff2") format("woff2"),
    url("teko-regular.woff") format("woff");
} */

body{
  height: 100vh;
  background-color: white;
}

h1 {
  text-align: center;
  color: black;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.input-group select {
  background-color: #0abab5;
  margin-top: 5px;
  width: 50px;
}

.input-group label {
  color: black;
}

.dropdown {
  margin-bottom: 15px;
}

.dropdown label {
  display: block;
  margin-bottom: 5px;
  color: black;
}

.dropdown select {
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  width: 100%;
}

.input-group input,
.input-group select {
  flex: 1;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: white;
  color: black;
  padding: 10px 60px;
  border: 2px solid black;
  cursor: pointer;
  margin-top: 50px;
}

.card {
  display: none;
}

.card.active {
  display: block;
}