body {
  background-color: white;
  color: black;
  font-family: 'Teko';
  src: url('teko-regular.woff2') format('woff2'),
       url('teko-regular.woff') format('woff');

}

.container {
  display: flex;
}

.image {
  width: 30%;
  text-align: center;
  display: flex;
  align-items: flex-start;
}
.img{
  height: 600px;
  margin-left: -500px;
  margin-left: 100px;
}
.logo {
  width: 100px;
  height: auto;
  margin-top: -80px;
  margin-left: 10px;
}

.list {
  width: 40%;
  padding: 50px;
  margin-left: 250px;
  list-style-type: none;
}

.list-item {
  background-color: white;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid black;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  text-align: center;
}

h1 {
  text-align: center;
  margin-top: 40px;
}